.tile {
  height: 30px;
  width: 30px;
  background: none;
  background-size: 30px 30px;
  border-style: solid;
  opacity: 1;
}
.tile:focus {
  outline: none;
}
.tile.grass {
  background: darkseagreen;
  border-color: green;
  border-style: dotted;
}
.tile.water {
  background: aqua;
  border-color: peru;
  border-style: dotted;
}
.tile.rock {
  background-image: url('./images/rock.png');
}
.tile.tree {
  background-image: url('./images/tree.png');
  border-style: dotted;
}
.tile.player {
  background-image: url('./images/player.png');
}
.tile.dog {
  background-image: url('./images/dogStub.png');
}
.tile.cat {
  background-image: url('./images/catStub.png');
}
.tile.snake {
  background-image: url('./images/snakeStub.png');
}
.tile.pigeon {
  background-image: url('./images/pigeonStub.png');
}
.tile.bear {
  background-image: url('./images/bearStub.png');
}
.tile.piranha {
  background-image: url('./images/piranhaStub.png');
}
.tile.alligator {
  background-image: url('./images/alligatorStub.png');
}
.tile.tarantula {
  background-image: url('./images/tarantulaStub.png');
}
.tile.sydney-funnel-web {
  background-image: url('./images/sydney-funnel-webStub.png');
}
.tile.gorilla {
  background-image: url('./images/gorillaStub.png');
}
.tile.silverback-gorilla {
  background-image: url('./images/silverback-gorillaStub.png');
}
.tile-clone {
  opacity: 0.5;
}
.App div {
  display: flex;
  flex-direction: row;
}
.App div div {
  display: flex;
  flex-direction: column;
}
.warning-text {
  color: red;
}
